
/*STYLE FROM New_User.hmtl*/

body {
    font-family: Arial, sans-serif;
    /*Centrado de los recuadros del formulario*/
    max-width: center;
    margin: 0 auto;
    padding: 20px;
    color: rgb(235, 230, 230);
    /*Poner imagen de fondo*/
    /*Efecto desenfoque blur*/
 

}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="address"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    
}

input[type="submit"] {
    background-color: #2c12c0;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #463e8e;
}
 /* Estilos globales */
 body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background: linear-gradient(to right, #004e92, #000428);
        
            /*Poner imagen de fondo*/
    /*Efecto desenfoque blur*/
    backdrop-filter: blur(7px);
    background-image: url('https://th.bing.com/th/id/R.03108a211e10e86a6f4ae0f4ce9e7823?rik=uJy0dEnJuR0KuQ&pid=ImgRaw&r=0');
    background-size: cover; /* Cubre todo el fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center center; /* Centra la imagen en la página */
        }
    


        /* Letras del título con video de fondo */
        .Texto {
            font-size: 3rem;
            margin-bottom: 2rem;
            text-align: center;
            background-size: cover;
            background-image: url(Imagenes/imagen\ representativa\ justicia\ 3.jpg);
            background-repeat: no-repeat;
            background-position: center;
            color: transparent;
            background-clip: text;
            font-family: 'Times New Roman', Times, serif;
            
            
        }
       

        /*_________________________ 
        
        
        */
        /* Estilos del contenedor de imágenes */
        .images-container {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 2rem;
            
        }

        /* Estilos de las imágenes */
        .images-container img {
            width: 100px; /* Ajustar el ancho de las imágenes según sea necesario */
            border: 2px solid #4b4949;
            border-radius: 50%;
            margin: 0 10px;
            transition: all 0.4s ease;

            /*Iluminacion de los bordes */
            box-shadow: 0 0 30px #1c7dcc;
        }

        .images-container img:hover {
            transform: scale(1.1);
        }

        /* Estilos del formulario de inicio de sesión */
        .login-form {
            background: #FFFFFF;
            padding: 2rem;
            border-radius: 2rem;
            max-width: 400px;
            margin: 0 auto;
            box-shadow: 0 0 30px #1c7dcc;
            
        }

        .login-form input[type="email"],
        .login-form input[type="password"],
        .login-form button {
            width: 100%;
            padding: 1rem;
            margin-bottom: 1rem;
            border: none;
            border-radius: 0.5rem;
            outline: none;
            font-size: 1rem;
        }

        .login-form button {
            background: #6050DF;
            color: #FFFFFF;
            cursor: pointer;
        }

        .login-form button:hover {
            background: linear-gradient(to right,  #6050DF, #160092);
        }
        /* Estilos para centrar verticalmente */
